.countdown-txt{
    position:relative;
    text-align: center;
    font-size: 2.5rem;
    color:white;
    margin:3%;
    font-weight: 600;
}
.he1 h1{
    margin: 5% 0;
    font-size: 2.5rem;
    color:white;

}
.abt{
    margin-top:8% ;

}
@media screen and (min-width: 350px) and (max-width: 800px){
    .countdown-txt{
        margin:10% 2%;

    }

    .header-nav .nav-buttons{
        display: none;
    }

    .nav-buttons-mobile{
        display: flex
    }

    h1{
        font-size: 1.7rem;
    }

    .hamburger{
        display: flex;
    }
    .hero{
        margin-top:30%;
    }
    .hero img{
        width: 90%;
    }
    .desc-cont{
        font-size: 1.7rem;
    }
    .countdown-date{
        padding: 20% 2%;
        height: unset;
        gap: 50px;
    }

    .countdown-date h1{
        font-size: 1.5rem;
    }    

    .event-cards{
        flex-direction: column;
    }



    .about-us{
        padding: 10% 8%;
        gap: 30px;
        text-align: center;
    }

    .event-card{
        height: auto;
        padding: 10% 4%;
    }
    
    .event-reg-btns{
        flex-direction: column;
        gap: 30px;
    }

    .event-info{
        top: 75%;
    }

    .event-info a{
        opacity: 100%;
    }

    .event-reg-btn:hover .event-info{
        transform: translateY(20%);
        opacity: 100%;
        border-top: 3px solid rgba(255, 255, 255, 0.125)
    }
    
    .event-reg-btn:hover .event-info a{
        opacity: 100%;
    }

    .company-btns{
        flex-direction: column;
    }

    .company-btn{
        width: 60%;
    }

    footer{
        align-items: center;
        flex-direction: column;
        padding: 7% 9%;
    }

    .social-handles{
        margin-left: 10%;
        margin-right: auto;
    }

    .schedule-event-logo{
        display: none;
    }
}

