.frm{
padding-top:8%;
    position:relative;
    display: flex;
    color:white;
    border-radius: 5%;
    font-size:2.5rem;
    justify-content: center;
    align-items: center;
    /* display:flex;
    justify-content: center;
    align-items:center; */
    height:37.1vh;
}

@media screen and (min-width: 350px) and (max-width: 800px){
.frm{
    padding-top: 20%;
    text-align: center;
}
}
